
#podcast{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    padding: 20px;

   

    h2{
        padding: 20px;
        font-family: IBMPlexSans;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 42px;
    }

    
   .links{
       height: 125px;
       width: 298px;
       padding: 10px;
       display: inline-block;
   
   }
}

