@import './variables';
@import './section_1';
@import './section_2';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-flow: row wrap;

    #margen{
        flex-direction: row;
      justify-content: center;
    }
   
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-top: 26px;
    border-bottom: white;
    position: fixed;
    background-color: white;
}

.logo{
img{
    padding-left: 100px;
}
}
.contenedor{
    
    display: flex;
    justify-content: center;
    align-content: center;


    #menu{
        display: none;
    }

    i{
        padding-right: 100px;
    }
    
    .icono {
        display: none;
        @media (max-width: $vm ) {
            display: block;
             float: right;
       }   
    }
}
    .lista {
        list-style-type: none;
        float: right;
        padding-right: 50px;
        padding-top: 10px;
        display: flex;

        ul{
            list-style-type: none;
            padding: 0;
            display: flex;
        }
    
        li{
            display: flex;
            padding: 10px;
            font-size: 16px;
            line-height: 28px;
            color: #060A24;
            font-family: IBMPlexMono;
           
            &:hover {
                cursor: pointer;
                color: blue;
            }
        }

        @media (max-width: $vm ) {
            display: none;
            
        
        } 

}

.lista_2 {
   display: none;
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
       
    }

    li{
       display: flex;
       align-content: space-between;
     
       padding: 10px;
      color: white;
        }
    }
    
#menu:checked ~ * .lista_2 {

        display: block;
        background: blue;
       
        .icono {
            position: absolute;
             }
        .contenedor{
            height: 224px;
            width: 324px;
        }     
       
 
 
   
  }





